class Configurations {
  static const _apiKey = "";
  static const _authDomain = "";
  static const _projectId = "";
  static const _storageBucket = "";
  static const _messagingSenderId = "";
  static const _appId = "";

  String get apiKey => _apiKey;
  String get authDomain => _authDomain;
  String get projectId => _projectId;
  String get storageBucket => _storageBucket;
  String get messagingSenderId => _messagingSenderId;
  String get appId => _appId;
}